@import "tailwindcss";

@theme inline {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  --color-pmdf-primary: #006fb3;
  --color-pmdf-secondary: #faa954;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}